@tailwind base;
@tailwind components;
@tailwind utilities;


.home {
    background-image: url('./assets/eglise.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
}

html{
    scroll-behavior: smooth;
}